
h1 {
	font-family: Georgia, serif;
	font-size: 1.4em;
	letter-spacing: 1px;
	margin: 0 auto;
			}
h2 {
	font-size: .8em;
	font-weight:100;
	margin: .3em auto;
			}

svg {
  background-color: white;

}


p {font-family: serif;
	font-style: italic;
	font-size: .6em;
	font-weight:100;
     width: 1250px;
	 }

