
h1 {
	font-family: Georgia, serif;
	font-size: 1.4em;
	letter-spacing: 1px;
	margin: 0 auto;
			}
h2 {
	font-size: .8em;
	font-weight:100;
	margin: .3em auto;
			}
.circle { stroke:#fffeb3; 
           opacity:.8;
           fill:#666547;}

.circle:hover{fill:#ae0001;}


p {font-family: serif;
	font-style: italic;
	font-size: .6em;
	font-weight:100;
     width: 1250px;
	 }

